{%extends 'base.html'%}

{%block title%}Seja bem vindo {%endblock%}

{%block main%}
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <h1 style="text-align: center;">Seja bem vindo!</h1>
        {%if user.is_authenticated%}
        <p style="text-align: center;">Olá {{user.username}}</p>
        <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-warning" href="{%url 'cadastroclientes'%}">Cadastro Clientes</a>
            <a class="btn btn-danger" href="{%url 'logout'%}">Logout</a>
        </div>
        {%else%}
        <a class=" btn btn-warning login-center" href="{%url 'login'%}">Login</a>
        {%endif%}
    </div>
    <div class="col-sm"></div>
</div>
{%endblock%}
