.trash-icon{
    float:right;
    color: red;
}

.trash-icon:hover{
    color: rgb(255, 123, 0);
}

.margin-adjust{
    margin-top: 10px;
}


.login-center{
    display: block;
    padding:5px;
    margin-top: 20px;
}

.right-item{
    float: right;;
}

