{%extends 'base.html'%}
{% load bootstrap %}

{%block main%}
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-12">
            <h5>Tem certeza que deseja excluir permanentemente o registro?</h5>
            <form action="" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                {{ form|bootstrap }}
                <button class="btn btn-danger margin-adjust" type="submit">Excluir</button>
                <a class="btn btn-warning margin-adjust" href="{%url 'return_list'%}">Cancelar</a>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{%endblock%}