{%extends 'base.html'%}

{%block title%}LOGIN PAGE {%endblock%}

{%block main%}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form class="form-group" action="">
                <input type="text" name="pesquisa">
                <input class="btn btn-primary" type="submit" value="Pesquisar">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <ul class="list-group">
                {%for person in persons%}
                <li class="list-group-item">
                    <a href="{% url 'person_update' person.id%}">{{person.first_name}} {{person.last_name}}</a>
                    <a class="trash-icon" href="{% url 'person_delete' person.id%}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </li>
                {%endfor%}
            </ul>
            <a href="{%url 'person_new'%}" class="btn btn-warning margin-adjust">Cadastar Novamente</a>
            <a href="{%url 'back_home'%}" class="btn btn-warning margin-adjust">Home</a>
        </div>
        <div class="col-sm">
            <a class="btn btn-danger right-item" href="{%url 'logout'%}">Logout</a>
        </div>
    </div>
</div>
{%endblock%}
